#name_input{
	width: 40%;
	display: inline;
}
#mobile_input{
	display: inline;
	width: 50%;
	margin-left: 5%;
}
.container{
	margin-top:10px; 
}
.class-select, .class-select > option{
	padding: 5px;
}

div.form{
	width: 60%;
	padding: 5em;
	margin: 0 auto;
	border-radius: 10px;
	background: #808080;
}
form.form-signin{
	padding:10px;
}

form.form-signin input{
	width: 80% !important;
	padding: 10px !important;
	margin: 10px !important;
}

/*mohsin*/
/*material design*/
body{
	background-color: #E3F2FD;
}
body *{
	border-radius: 0px;
}

@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}