#name_input{
	width: 40%;
	display: inline;
}
#mobile_input{
	display: inline;
	width: 50%;
	margin-left: 5%;
}
.container{
	margin-top:10px; 
}
.class-select, .class-select > option{
	padding: 5px;
}

