@import "circle.css";
body{
	font-family: 'Roboto', sans-serif;
}
.container{
	margin-top:10px; 
}
.class-select, .class-select > option{
	padding: 5px;
}

/*Login Form*/
.form-main{
	text-align: center;
	margin: 0 auto;
	width: 70%;
	padding: 5em;
}
.form-wrapper{
	color: #fff;
	background-color: rgba(0,0,0,0.6);
	border-radius: 14px;
	padding: 1em;
}
/*Student Details Page*/
.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}

.routeSelect{
	display: none;
}


/*navbar top*/

.navbar-default{
	background-color: #009688;
	border-color: black;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}
.navbar-default .navbar-nav>li>a {
	color: #fff;
}
.navbar-brand{
	color: #fff !important;
}


/*add student */

.add-student{
	background-color: rgba(0,0,0,0.4);
	font-weight: bold;
	text-align: center;
	color: #fff;
}

.add-student-form-main{
	width: 90%;
	margin: auto 20%;
}

/*datepicker*/